<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benharrington.ukulelechord" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ukulele Chord</name>
    <description>
        A simple ukulele chord app.
    </description>
    <author email="ben@harringtonweb.com" href="http://www.benharrington.com/">
        Ben Harrington
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <engine name="android" spec="~6.0.0" />
</widget>
