body {
  background-color: green;
  text-align: center;
}
select {
  width: 100px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#myCanvas {
  background-color: #ddd;
  width: 200px;
}

.select-style {
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa;
}
.select-style select {
  padding: 5px 8px;
  width: 200px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.select-style select:focus {
  outline: none;
}
